@{
    ViewData["Title"] = "Home Page";
}
@using webuygulama.Models

@model List<ProductModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürünler</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/productpage.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="mytable">
        <table class="table w-100 table-striped table-dark table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">Ad</th>
                    <th scope="col">Aksiyon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ad</td>
                        <td>
                            <!-- Buton Ekle -->
                            <button class="btn btn-primary" onclick="redirectToProductDetails(@item.Id)">
                                Ürün Detayı
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function redirectToProductDetails(productId) {
            // Bu fonksiyon tıklandığında ürüne ait ID parametresi ile yönlendirecek
            window.location.href = '/Home/Index/' + productId;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
